body {
  background-color: #ff77a4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h1 {
  color: #9b0128;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 40px 0px 0px 0px;
}

input {
  background-color: #ffccdc;
  margin-top: 10px;
  border-style: none;
  padding: 7px;
}

button {

}

.inputSection {
  margin: 10px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.addOption {
  margin-top: 10px;
  background-color: #db114a;
  padding: 7px;
  border-style: none;
  font-family: sans-serif;
  font-color: white;
}

.goOption {
  background-color: #1197db;
  padding: 7px 14px 7px 14px;
  border-style: none;
  font-color: white;
  font-weight: bold;

}
